* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}
main {
  background-image: url("https://s3.amazonaws.com/codecademy-content/projects/newsroom/bass-bg.jpg");
  background-size: cover;
  background-position: 100% 50%;
  height: 300px;
  filter: alpha(Opacity=100);
  opacity: 0.9;
}
main div div div p {
  margin: 40px  0 0 0 ;
  font-size: 15px;
}
main h2 span {
  border-bottom: 5px solid #1A77FF;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 2px;
}
main p:last-child {
  font-size: 18px;
  font-weight: 300;
  margin: 30px  0 0 0 ;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
}
